/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ************* End of CSS Reset ************* */
html {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-image: url("background.png");
  background-size: contain;
}

body {
  font-size: 2em;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Game Board  */
#main-cont {
  padding-top: 25%;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  height: 50%;
}

.game-square {
  justify-self: stretch;
  align-self: stretch;
  cursor: pointer;
  border: 1px solid #9093fe;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #85c9ff;
  font-size: 1.5em;
  min-height: 126px;
  max-height: 180px;
}

#square-topLeft {
  border-top: none;
  border-left: none;
}

#square-topMid {
  border-top: none;
}

#square-topRight {
  border-top: none;
  border-right: none;
}

#square-midLeft {
  border-left: none;
}

#square-midRight {
  border-right: none;
}

#square-botLeft {
  border-left: none;
  border-bottom: none;
}

#square-botMid {
  border-bottom: none;
}

#square-botRight {
  border-right: none;
  border-bottom: none;
}

/* Game start form */

#game-start {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1em;
  color: #787bd7;
}
.css-button-sliding-to-bottom--green {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #f3faff;
  overflow: hidden;
  border: 2px solid #9093fe;
  color: #9093fe;
}
.css-button-sliding-to-bottom--green:hover {
  color: #fff;
}
.css-button-sliding-to-bottom--green:hover:after {
  height: 100%;
}
.css-button-sliding-to-bottom--green:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  height: 0;
  width: 100%;
  background: #9093fe;
}
#input-name {
  width: 5rem;
  background: #f3faff;
  border: 1px solid #9093fe;
  border-radius: 4px;
}

input {
  margin-top: 1.5em;
}

#game-end {
  position: fixed;
  top: 50%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -48px;
  background: #9093fe72;
  border-radius: 8px;
  padding: 1em;
  display: none;
  text-align: center;
  width: 10rem;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  color: white;
  border: 1px solid #85c9ff;
}

#btn-restart {
  align-self: center;
}

#btn-changeMrk {
  align-self: center;
  width: fit-content;
}

#restartChangeCont {
  display: none;
  gap: 1em;
  justify-content: center;
  margin-top: 3em;
}

#marker-select {
  margin: 1.8em 0;
  color: #85c9ff;
  font-size: 1.2em;
}

.markSelector {
  cursor: pointer;
  padding: 0.8em 1em;
  margin: 0 0.5em;
  transition: all 1s;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  background: #f3faff;
}

.markSelector:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.selected {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  font-size: 1.1em;
  cursor: pointer;
  padding: 0.8em 1em;
  margin: 0 0.5em;
  transition: all 1s;
  background: #f3faff;
}

.unselected {
  font-size: 0.9em;
}

h1 {
  background: #f3faff;
  width: fit-content;
  margin: 0 auto;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 1rem;
  color: #9093fe;
  transition: 1s all;
  width: 100%;
  margin-bottom: 0.5em;
}

footer:hover {
  transform: scale(1.2);
  color: #85c9ff;
}

a {
  transition: 1s all;
  text-decoration: none;
  color: #9093fe;
}

/* Media queries */
@media screen and (min-width: 414px) {
  #main-cont {
    padding-top: 25%;
  }
}

@media screen and (min-width: 768px) {
  #main-cont {
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .game-square {
    font-size: 2em;
  }

  #game-end {
    padding: 1em 3em;
    display: none;
    font-size: 2em;
    justify-content: center;
    align-items: center;
  }

  .markSelector {
    font-size: 1.2em;
  }

  .selected {
    font-size: 1.3em;
  }

  h1 {
    font-size: 1.2em;
  }

  .css-button-sliding-to-bottom--green {
    width: 5em;
    font-size: 0.8em;
    height: 1.8em;
  }

  #input-name {
    height: 1.5em;
    width: fit-content;
  }

  #game-end {
    top: 10%;
  }
}

@media screen and (min-width: 1024px) {
  #main-cont {
    padding-top: 5%;
  }

  footer {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1280px) {
  #main-cont {
    padding-top: 5%;
    width: 50%;
  }

  .game-square {
    border: 2px solid #9093fe;
  }

  #marker-select {
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (min-width: 1440px) {
  #main-cont {
    padding-top: 8%;
    width: 50%;
  }
}

@media screen and (min-width: 1920px) {
  .game-square {
    font-size: 2em;
  }

  #main-cont {
    padding-top: 5%;
    width: 30%;
  }

  .markSelector {
    font-size: 1.4em;
  }

  .selected {
    font-size: 1.5em;
  }

  h1 {
    margin-bottom: 1em;
    font-size: 1.4em;
  }
  #marker-select {
    margin-top: 3em;
    margin-bottom: 3em;
  }
}
